.gridElement
{

background-color: red;
width: 10px;
height: 10px;
padding:1px;
margin:1px;


}

.container {


    display: flex;
}

.gridElement2
{

background-color: green;
width: 10px;
height: 10px;
padding:1px;
margin:1px;


}